[Unit]
Description=Optimus Primer GPU Setup
Before=display-manager.service

[Service]
ExecStart=/usr/bin/optimus-primer

[Install]
WantedBy=graphical.target
